// @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Cedarville+Cursive&family=Courgette&family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway+Dots&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reem+Kufi+Fun:wght@400..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour&family=Sora:wght@100..800&family=Tac+One&display=swap');


@font-face {
    font-family: 'AndroidAssassin';
    src: url('../assets/fonts/AndroidAssassin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EzraLight';
    src: url('../assets/fonts/EzraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EzraSemibold';
    src: url('../assets/fonts/EzraSemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

$greenish: #34ef9d;
$purplish: #9849fb;
$goldish: #ffd549;
$whiteish: #f9f5f8;
$black-color: #000;
$white-color: #fff;
$dark-color: #212121;
$darker-color: #101010;
$primary-color: $purplish;

$width-lp: 1200px;

body{
    background-color: $primary-color;
    color: $white-color;
}

::selection{
    background-color: $dark-color;
    color: $goldish;
}

::-webkit-scrollbar{
    width: 0px;

    @media screen and (max-width: 660px) {
        width: 0px;
    }
}

::-webkit-scrollbar-thumb{
    background-color: #fff1;
    border-radius: 100px;

    &:hover{
        background-color: $primary-color;
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    color: $white-color;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 1000px;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #fff1;
    border-color: #fff2;

    svg{
        font-size: 14px;
    }

    &:hover, &:focus{
        scale: 1.05;
        background-color: #fff2;
        border-color: #fff2;
    }

    &.filled{
        background-color: $primary-color;
        color: $white-color;
        letter-spacing: 1px;

        svg{
            font-size: 18px;
        }
    }
}

#root{
    font-family: "AndroidAssassin", monospace;
}

button{
    font-family: "AndroidAssassin", monospace;
}

.app{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent;

    h1{
        font-size: 70px;
        letter-spacing: 4px;
        text-align: center;

        @media screen and (max-width: 900px) {
            font-size: 50px;
        }

        @media screen and (max-width: 700px) {
            font-size: 30px;
            small{
                font-size: 20px !important;
            }
        }

        @media screen and (max-width: 400px) {
            font-size: 35px;

            small{
                font-size: 20px !important;
            }
        }

        @media screen and (max-width: 380px) {
            font-size: 35px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            small{
                font-size: 20px !important;
            }
        }
    }

    h2{
        font-size: 50px;
        font-family: "AndroidAssassin", sans-serif;
        letter-spacing: 4px;

        @media screen and (max-width: 900px) {
            font-size: 40px;
        }

        @media screen and (max-width: 700px) {
            font-size: 30px;
        }

        @media screen and (max-width: 500px) {
            font-size: 25px;
        }
    }

    h3{
        font-size: 40px;
        letter-spacing: 5px;
        margin-bottom: 100px;
        text-align: center;

        @media screen and (max-width: 700px) {
            font-size: 30px;
        }

        @media screen and (max-width: 450px) {
            font-size: 25px;
        }
    }

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-image: linear-gradient(#9849FB, #6d7fb3);
        background-image: linear-gradient(#9849FB, #34ef9e97);
        // min-height: 100vh;
        padding: 140px 30px;
        padding-bottom: 0px !important;
        height: max-content;

        &.full-h{
            min-height: 100vh;
        }

        &.centered{
            justify-content: center;
        }
        
        @media screen and (max-width: 800px) {
            padding: 120px 30px;
        }

        .spacer{
            width: 100%;
            border: 2px solid transparent;
            border-top: 2px solid #F9F5F8CC;
            border-style: dashed;
            padding: 20px;
            margin: 50px 0;
            margin-bottom: -3px;
        }
        
        section{
            max-width: $width-lp;
            width: 100%;

            &.head--section{
                display: flex;
                flex-direction: column;
                align-items: center;

                .heading{
                    // margin-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    position: relative;
                    padding: 10px 40px;
                    border: 1px solid #34EF9D;
                    width: 100%;
                    max-width: 950px;

                    small{
                        font-family: sans-serif;
                        font-size: 30px;
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        background-image: linear-gradient(#34EF9D, #FFD549, #9849FB);
                        margin-left: 10px;
                        letter-spacing: normal;

                        span{
                            font-family: "AndroidAssassin", sans-serif;
                        }
                    }

                    img{
                        position: absolute;
                        right: -20px;
                        bottom: -30px;
                    }
                }

                .summary{
                    margin-top: 30px;
                    text-align: center;
                    margin-bottom: 40px;
                    
                    p{
                        font-size: 18px;
                    }

                    @media screen and (max-width: 660px) {
                        margin-top: 40px;
                        p{
                            font-size: 16px;
                        }
                    }
                }

                .token--overview{
                    display: flex;
                    gap: 50px;
                    width: 100%;
                    padding: 20px;
                    justify-content: center;
                    align-items: center;
                    font-family: "EzraLight", sans-serif;
                    position: relative;
                    padding-bottom: 60px;

                    &::before{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100vw;
                        right: 0;
                        border: 1px solid $greenish;
                    }

                    @media screen and (max-width: 1000px) {
                        flex-direction: column-reverse;
                        gap: 50px;

                        .links-holder{
                            flex-direction: row !important;
                        }
                    }
                    
                    .links-holder{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 30px;

                        a{
                            width: 60px;
                            height: 60px;
                            border-radius: 1000px;
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 3px;
                            text-decoration: none;
                            background-color: #78a6a4;
                            font-size: 26px;
                            background-image: linear-gradient(#0000, #0004);
                            box-shadow: 0px 0px 0px 1px #fff4;
                            p{
                                font-size: 8px;
                                font-family: "EzraLight", sans-serif;
                                text-transform: capitalize;
                                color: #fffa;
                            }

                            @media screen and (max-width:700px) {
                                width: 54px;
                                height: 54px;
                                font-size: 22px;
                            }
                        }
                    }

                    .labelled{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        // width: 100%;

                        .content{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 30px;
                            @media screen and (max-width: 800px) {
                                flex-direction: column !important;
                                align-items: left;
                                gap: 20px;

                                .details{
                                    font-size: 16px !important;

                                    &.x{
                                        &::after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                            
                            &:nth-child(2){
                                flex-direction: row-reverse;
                            }

                            .details{
                                padding: 15px 30px;
                                background-color: rgba($greenish, 0.2);
                                width: 100%;
                                max-width: 570px;
                                min-height: 80px;
                                font-size: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 7px;
                                font-weight: 700;

                                &.x{
                                    position: relative;
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        width: 100vw;
                                        border: 1px solid $greenish;
                                        left: calc(100%);
                                    }
                                    
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        border: 1px solid $greenish;
                                        height: 40px;
                                        top: calc(100%);
                                    }
                                }
                            }

                            .label{
                                min-width: max-content;
                            }
                        }
                    }
                }
            }
        
            &.tokenomics--section{
                margin-top: 40px;
                font-family: "EzraLight", sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 850px;

                .heading{
                    margin-bottom: 30px;
                }

                .tokenomics--card{
                    width: 100%;
                    background-color: rgba($greenish, 0.2);
                    border: 2px solid #F9F5F8CC;
                    border-style: dashed;
                    display: flex;
                    flex-direction: column;
                    border-radius: 4px;

                    .bar{
                        display: flex;
                        // justify-content: center;
                        width: 100%;
                        
                        .label{
                            font-family: "EzraSemibold", sans-serif;
                            height: 100%;
                            display: flex;
                            padding: 40px 20px;
                            align-items: center;
                            border: 1.5px dashed #fff;
                            border-left: none;
                            border-top: none;
                            font-size: 22px;
                            font-weight: 800;
                            width: 300px;
                            min-width: 300px;
                            
                            @media screen and (max-width: 700px) {
                                font-size: 18px;
                                width: 250px;
                                min-width: 250px;
                            }
                            
                            p{
                                min-width: max-content;
                            }
                        }

                        .details{
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 15px;
                            padding-top: 40px;
                            border: 1.5px dashed #fff;
                            border-left: none;
                            border-top: none;
                            border-right: none;
                            width: 100%;
                            justify-content: center;

                            &.center{
                                justify-content: center;
                            }

                            br{
                                margin-bottom: 20px;
                            }

                            // line-height: 180%;
                        }

                        @media screen and (max-width: 660px) {
                            flex-direction: column;

                            .label{
                                border-bottom: none;
                                border-right: none;
                                height: fit-content;
                                padding-bottom: 0px;
                            }
                            
                            .details{
                                font-size: 15px;
                                border: 1.5px dashed #fff;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 40px !important;
                            }
                        }

                        &.ii{
                            label{
                                border-top: none;
                                border-bottom: none;
                            }
                        }

                        .details{
                            padding: 20px;
                        }
                        
                        &.flat{
                            // padding: 40px 20px;
                            height: 100px;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                        }
                    }
                }

                .use-cases{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    
                    p{
                        font-size: 22px;
                        font-weight: 900;
                        font-family: "EzraSemibold", sans-serif;
                    }
                    
                    ul{
                        font-size: 18px;
                        display: flex;
                        @media screen and (max-width: 800px) {
                            font-size: 16px;
                        }
                        flex-direction: column;
                        gap: 10px;

                        list-style-type: circle;
                        list-style: none;

                        li{
                            display: flex;
                            gap: 10px;

                            &::before{
                                content: "";
                                margin-top: 4px;
                                min-width: 10px;
                                height: 10px;
                                border-radius: 1000px;
                                background-color: $goldish;
                            }
                        }
                    }

                }
            }
        }

        footer{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            text-align: center;
            font-family: "EzraLight", sans-serif;
            padding: 50px 0;
            padding-top: 0px;

            .links-holder{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                a{
                    width: 60px;
                    height: 60px;
                    border-radius: 1000px;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                    text-decoration: none;
                    background-color: #78a6a4;
                    font-size: 26px;
                    background-image: linear-gradient(#0000, #0004);
                    box-shadow: 0px 0px 0px 1px #fff4;
                    p{
                        font-size: 8px;
                        font-family: "EzraLight", sans-serif;
                        text-transform: capitalize;
                        color: #fffa;
                    }

                    @media screen and (max-width:700px) {
                        width: 54px;
                        height: 54px;
                        font-size: 22px;
                    }
                }
            }

            .cprt{
                font-size: 18px;
                p{
                    text-shadow: 0px 4px 4px #00000040;
                }

                @media screen and (max-width: 500px) {
                    font-size: 14px;
                }
            }
        }
        
        
    }
}

.preloader{
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(#9949fb8a, #34ef9e97);
    // opacity: 0;
    // transform: scale(2);
    transition: all 0.5s ease;
    backdrop-filter: blur(50px);
    animation: hide 0.3s ease forwards;
    animation-delay: 3s;

    @keyframes hide {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    p{
        margin-top: 20px;
        font-family: "EzraSemibold", sans-serif;
        font-size: 30px;
        background-image: linear-gradient(#34EF9D, #FFD549, #9849FB);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: fixed;
        top: 20px;
        left: 5vw;
        color: #fff;
        animation: slide-right 1s ease-in-out forwards;

        @media screen and (max-width: 660px) {
            font-size: 25px;
            left: 30px;
        }

        @keyframes slide-right{
            0%{
                transform: translateX(-50px);
                opacity: 0;
            }
        }

        span{
            font-family: "AndroidAssassin", sans-serif;
        }
    }

    .icon{
        z-index: 100;
        width: 150px;
        height: 150px;
        border-radius: 1000px;
        border: 2px solid $greenish;
        background-color: #fff1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        backdrop-filter: blur(100px);
        animation: bounce 0.5s ease forwards infinite alternate;
        // animation: bouncex 7s linear infinite;

        @media screen and (max-width: 850px){
            width: 130px;
            height: 130px;
        }

        @media screen and (max-width: 660px){
            width: 100px;
            height: 100px;
        }

        @keyframes bounce {
            0%{
                transform: scale(1);
            }
            100%{
                transform: scale(1.1);
            }
        }

        // @keyframes bouncex {
        //     0%{
        //         rotate: -360deg;
        //     }
        //     100%{
        //     }
        // }

        img{
            width: 100%;
        }
    }
}

canvas{
    // display: none !important;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff0;
    transition: all 0.5s ease;
    // padding-top: 20px;

    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: $width-lp;
        pointer-events: all;
        position: relative;
        padding: 10px 30px;
        // background-color: #fff1;
        // background-color: #222c;
        // backdrop-filter: blur(10px);
        
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            position: relative;
            z-index: 120;
            
            span{
                font-family: "Tac One", sans-serif;
                font-size: 60px;
            }
            color: $primary-color;
            font-family: "Tac One", sans-serif;
            
            @media screen and (max-width: 500px) {
                font-size: 30px;

                span{
                    font-size: 50px;
                }
            }
        }

        .links-holder{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            .header-btn{
                padding: 10px 20px;
                min-width: 113px;
                color: #fff;
                background-color: transparent;
                border: none;
                font-size: 18px;
                border-radius: 1000px;
                border: 1px solid #fff0;
                background-color: $goldish;
                background-color: #FFD549B2;
                border-radius: 2px;
                font-family: "EzraLight", sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 7px;
                transition: all 0.5s ease;

                &.active{
                    transform: scale(1.05);
                }
                
                &:hover, &:focus{
                    background-color: darken(#FFD549B2, 10.4);
                    transform: scale(1.05);
                }
            }

        }

        .actions{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            a{
                text-decoration: none;
            }

            .btn{
                font-weight: 600;
            }

            .link-round{
                width: 30px;
                height: 30px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1000px;
                font-size: 20px;
                border: 2px solid #fff;
                transition: all 0.5s ease;

                &:hover, &:focus{
                    transform: scale(1.05) rotate(45deg);
                }
            }
        }

        .hamburger{
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            border-radius: 10px;
            color: #fff;
            transition: all 0.5s ease;
            background-color: #fff0;
            border: 1px solid #fff0;
            display: none;
            
            &:hover, &:focus{
                opacity: 0.8;
            }
        }

        @media screen and (max-width: 1000px) {
            .links-holder, .actions{
                display: none;
            }

            .hamburger{
                display: flex;
            }
        }
    }
}

.is-scrolled{
    .header{
        border-bottom: 2px solid #fff2;
        background-color: rgba($purplish, 0.7);
        backdrop-filter: blur(10px);
    }
}

.backdrop{
    z-index: 101;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.menu{
    z-index: 101;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;

    .pop-circle{
        background-color: #0009;
        border-radius: 1000px;
        width: 40vh;
        height: 40vh;
        position: absolute;
        transition: all 0s ease;
        transform: scale(0.2);
        opacity: 0;
        pointer-events: none;
    }

    .bottom-links{
        position: fixed;
        z-index: 10;
        width: 100%;
        bottom: 30px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        a{
            width: 50px;
            height: 50px;
            color: #fff;
            border-radius: 1000px;
            font-size: 18px;
            border: 2px solid #fff2;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff1;
            transform: scale(0);
            transition: all 0.5s ease;
        }
    }

    .close-btn{
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 10px;
        color: #fff;
        transition: all 1s ease;
        background-color: #fff0;
        border: 1px solid #fff0;
        position: fixed;
        right: 30px;
        top: 10px;

        svg{
            z-index: 2;
        }

        &:hover, &:focus{
            transform: rotate(360deg);
        }
    }

    .actions{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: fixed;
        top: 15px;
        left: 30px;
        transition: all 0.5s ease;
        a{
            text-decoration: none;
        }

        .btn{
            font-weight: 600;
            opacity: 0;
            transition-delay: 0s;
            transform: scale(0.7);
            color: #fff;
            letter-spacing: 2px;
        }

        .link-round{
            width: 30px;
            height: 30px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1000px;
            font-size: 20px;
            border: 2px solid #fff;
            transition: all 0.5s ease;
            opacity: 0;
            transform: scale(0.7);
            transition-delay: 0s;

            &:hover, &:focus{
                transform: scale(1.05) rotate(45deg);
            }
        }
    }

    .links-holder{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 120;
        position: relative;
        pointer-events: none;

        .links{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .menu-btn{
                pointer-events: none;
                text-align: left;
                padding: 10px 15px;
                color: $white-color;
                background-color: transparent;
                border: none;
                font-size: 40px;
                font-weight: 300;
                transition: all 0.7s ease;
                cursor: pointer;
                opacity: 0;
                transform: translateX(150px);

                &.active{
                    background-image: linear-gradient(#34EF9D, #FFD549, #9849FB);
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }

                &:hover, &:focus{
                    transition-delay: 0s !important;
                    opacity: 0.4 !important;
                }

                @media screen and (max-width: 700px) {
                    font-size: 30px;
                }
            }
        }
    }
}

.show-menu{
    .menu{
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        transition-delay: 0s;

        .pop-circle{
            transform: scale(7);
            opacity: 1;
            transition: all 1s ease;
            transition-delay: 0s;
        }

        .bottom-links{
            a{
                transform: scale(1);
                transition-delay: 0.7s;
            }
        }

        .links-holder{
            .links{
                .menu-btn{
                    pointer-events: all;
                    opacity: 1;
                    filter: blur(0px);
                    transform: translateX(0);
                }
            }
        }

        .actions{
            .link-round{
                transform: scale(1);
                opacity: 1;
                transition-delay: 0.6s;
            }
            
            .btn{
                transform: scale(1);
                opacity: 1;
                transition-delay: 0.3s;
            }
        }
        
    }

    .backdrop{
        opacity: 1;
        transition: all 1s ease;
    }

    .header{
        .nav-bar{
            .hamburger{
                opacity: 0 !important;
                scale: 0;
            }
        }
    }
}

button{
    cursor: pointer;
}